---
import { footer } from '../../../data/navigation.json';
import Icon from '../utility/icon';
---

<footer
  style={`background-color: ${footer.background_color}; color: ${footer.color};`}>
  <div class="px-8">
    <div class="footer grid grid-cols-1 sm:grid-cols-3 gap-8 py-12">
      <section>
        <a
          class="flex justify-center sm:justify-start items-center"
          href={footer.logo_url}>
          <img
            class="footer__logo-image"
            src={footer.logo}
            alt="Alberta Vision Care"
          />
        </a>
        <p class="text-sm text-slate-800 mt-4 max-w-64">
          Alberta Vision Care is committed to serving patients in Edmonton,
          Sherwood Park, St. Albert, and Spruce Grove.
        </p>
      </section>

      <section>
        <h2 class="text-2xl font-extrabold text-gray-900">Useful Links</h2>
        <hr class="w-24 h-1 my-4 bg-blue-400 border-0 rounded" />
        <ul>
          {
            footer.useful_links.map((link) => (
              <li class="mt-4">
                <a href={link.url} class="text-base text-slate-800 hover:underline">
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2 class="text-2xl font-extrabold text-gray-900">Our Locations</h2>
        <hr class="w-24 h-1 my-4 bg-blue-400 border-0 rounded" />
        <ul>
          {
            footer.locations.map((location) => (
              <li class="mt-4">
                <a href={location.url} class="text-base text-slate-800 hover:underline">
                  {location.text}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </div>

    <p class="text-center py-8">
      &#169; {new Date().getFullYear()} {footer.copyright}
    </p>
    <p class="text-center">
      Developed by <a href={footer.developer_url} target="_blank" rel="noopener" class="hover:underline">
        {footer.developer}
      </a>
    </p>
  </div>
</footer>

<style>
  .footer {
    max-width: var(--pageContainer);
    margin: 0 auto;
  }
  .footer__logo-image {
    display: block;
    max-width: min(200px, 80%);
  }
</style>
