---
import client from "../data/client.json";
---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/logo-white.svg"
          alt="logo"
          width="264"
          height="78"
        /></a
      >
      <p>
        Extra content if you need it, if not you can delete this whole p tag. I
        usually do.
      </p>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/testimonials">Reviews</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li>Service1</li>
          <li>Service2</li>
          <li>Service4</li>
          <li>Service5</li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/contact">
              {client.address.lineOne}<br />
              {client.address.lineTwo}<br />
              {client.address.city}
              {client.address.state}
              {client.address.zip}
            </a>
          </li>
          <li>
            <a href={`tel:${client.phoneForTel}`}>
              T:
              {client.phoneFormatted}
            </a>
          </li>
          <li>
            <a href={`mailto:${client.email}`}>Click to Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="/" target="_blank" rel="noopener">Your Company Name</a>
    <span class="copyright"> Copyright 2023 - Present</span>
  </div>
</footer>

<style lang="css">
/* Mobile */
@media only screen and (min-width: 0em) {
  #footer {
    font-size: min(4vw, 1.2em);
    padding: 5.25rem 0 1.25rem; /* 84/16rem and 20/16rem */
    background: #1c1c1c;
  }

  #footer .left-section {
    text-align: center;
    margin: auto;
    margin-bottom: 3.125rem; /* 50/16rem */
  }

  #footer .left-section .logo {
    text-align: center;
    width: auto;
    height: 2rem; /* 32/16em */
    margin: auto;
    margin-bottom: 1.875rem; /* 30/16em */
    display: inline-block;
  }

  #footer .left-section .logo img {
    width: auto;
    height: 100%;
    display: block;
  }

  #footer .left-section p {
    font-size: 0.875rem; /* 14/16rem */
    line-height: 1.9286; /* 27/14 */
    text-align: center;
    width: 100%;
    max-width: 21.93rem; /* 307/14rem */
    margin: auto;
    color: #fff;
    opacity: 0.9;
  }

  #footer .right-section {
    width: 96%;
    max-width: 25.4375rem; /* 407/16rem */
    margin: auto;
  }

  #footer .right-section .lists {
    width: 96%;
    max-width: 19.1875rem; /* 307/16rem */
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #footer .right-section .lists ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  #footer .right-section .lists ul:nth-of-type(3) {
    margin-top: 3.125rem; /* 50/16rem */
  }

  #footer .right-section .lists ul:nth-of-type(3) li {
    margin-bottom: 1rem; /* 16/16rem */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #footer .right-section .lists ul:nth-of-type(3) li:last-of-type {
    margin-bottom: 0;
  }

  #footer .right-section .lists ul li {
    font-size: 1.125rem; /* 18/16rem */
    list-style: none;
    margin-bottom: 0.75rem; /* 12/16rem */
    color: #fff;
    opacity: 0.9;
  }

  #footer .right-section .lists ul li a {
    line-height: 1.1667; /* 21/18em */
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }

  #footer .right-section .lists ul li a:hover {
    color: var(--primary);
  }

  #footer .right-section .lists ul h2 {
    font-size: 1.125rem; /* 18/16rem */
    font-weight: bold;
    line-height: 1.1667; /* 21/18em */
    text-transform: uppercase;
    margin-bottom: 2.3125rem; /* 37/16rem */
    color: #fff;
    position: relative;
  }

  #footer .right-section .lists ul h2::before {
    content: "";
    width: 6.0625rem; /* 97/16rem */
    height: 0.125rem; /* 2/16rem */
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: -1rem; /* -16/16rem */
    left: 0;
  }

  #footer .right-section .buttons {
    display: flex;
    justify-content: center;
  }

  #footer .right-section .cs-button-solid {
    width: 15.625rem; /* 250/16rem */
    height: 3.3125rem; /* 53/16rem */
    margin: 0;
    padding-top: 0.1875rem; /* 3/16rem */
  }

  #footer .credit {
    font-size: 1rem; /* 16/16rem */
    line-height: 2.25rem; /* 36/16rem */
    text-align: center;
    width: 96%;
    margin: auto;
    margin-top: 6.25rem; /* 100/16rem */
    color: #fff;
  }

  #footer .credit a {
    font-size: 1rem; /* 16/16rem */
    text-decoration: none;
    color: var(--primary);
  }

  #footer .credit a:hover {
    text-decoration: underline;
  }

  #footer .credit .copyright {
    font-size: 1rem; /* 16/16rem */
    display: block;
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #footer {
    font-size: min(1.2vw, 1em);
  }

  #footer .container {
    width: 96%;
    max-width: 82.5rem; /* 1320/16rem */
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  #footer .left-section {
    text-align: left;
    width: 25.5625rem; /* 409/16rem */
    margin: 0;
  }

  #footer .left-section .logo {
    text-align: left;
    height: 2.5rem; /* 40/16rem */
    margin-left: 0;
  }

  #footer .left-section p {
    text-align: left;
    margin-left: 0;
  }

  #footer .right-section {
    width: 38.0625rem; /* 609/16rem */
    max-width: none;
    margin: 0;
  }

  #footer .right-section .lists {
    width: 96%;
    max-width: 48.0625rem; /* 769/16rem */
    margin: 0;
  }

  #footer .right-section .lists ul:nth-of-type(3) {
    margin-top: 0;
  }

  #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
    margin-bottom: 0;
  }

  #footer .right-section .lists ul li a {
    position: relative;
  }

  #footer .right-section .lists ul li a::before {
    content: "";
    width: 0%;
    height: 0.125rem; /* 2/16rem */
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: -0.1875rem; /* -3/16rem */
    left: 0;
    transition: width 0.3s;
  }

  #footer .right-section .lists ul li a:hover::before {
    width: 100%;
  }

  #footer .right-section .buttons {
    justify-content: flex-start;
  }

  #footer .credit .copyright {
    display: inline-block;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #footer {
    background: #061623;
  }
}


</style>